<!DOCTYPE html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Bryce Dashboard</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
	<body>
		<div id="app">
			<v-app>
				<v-main>
					<!-- START MAIN PAGE -->
					<div v-if="mainPage=='Home' ">
						<div> <!-- App bar for main page -->
							<v-app-bar dense>
								<v-toolbar-title id="loginTitle" class="homeTitle d-none d-sm-flex" v-on:click="mainPage='Home'; statRefresh();"><img class="bison" src="icons/bison.svg">Parkdata - Bryce Canyon National Park</v-toolbar-title>
								<v-toolbar-title class="d-xs-flex d-sm-none">Parkdata</v-toolbar-title>
								<v-spacer></v-spacer>
								<!-- drop down for Entrances -->
								<v-menu offset-y>
									<template v-slot:activator="{ on }">
										<v-btn class="d-none d-sm-flex" color="#B25538" text v-on="on">Entrances</v-btn>
										<v-btn class="d-xs-flex d-sm-none" color="#B25538" text v-on="on">
											<img src="icons/kolob_outline_yellow.svg" alt="">
										</v-btn>
									</template>
									<v-list>
										<v-list-item
										v-for="(entrance, index) in Entrances" :key="index" v-on:click="mainPage='Entrances'; statRefresh(); EntrancePage=entrance ">
										<v-list-item-title>{{ entrance }}</v-list-item-title>
										</v-list-item>
									</v-list>
								</v-menu>
								<!-- <v-btn text color="#507282" v-on:click="logoutClicked(); resetPages();">Log Out</v-btn> -->
							</v-app-bar>
						</div>

						<div id="titleWrapper">
							<div id="totalVisitors">{{totalVisitors}} Visitors in 2019</div>
							<div id="title">Today: {{todaysDate}}</div>
						</div>
						<div class="stat" id="eastEntranceStat">
							<div class="statWrapper">
								<img class="statImage" src="icons/east_entrance_outline.svg">
								<span style="display:inline-block;"><b>East Entrance:</b><br> {{entranceDisplay}}</span>
							</div>
						</div>
						<div id="svgContainer">
							<svg id="svg" viewBox="45 43 110 110">
								<circle cx="100" cy="100" r="51" style="stroke: white; fill: white;"/> 
								<text x="86" y="104" id="currentTemp" font-size="9" font-weight="bold" style="fill: #B25538">{{currentTemp}}&#176;</text><image x="102" y="94" width="14" height="14" v-bind:href="weatherImage"></image>
								<circle class="background" cx="100" cy="100" r="47" stroke="#F0DDD7" />
								<circle id="line3" class="overlayLine" cx="100" cy="100" r="47" stroke="#B25538" stroke-dasharray="0, 3000" stroke-dashoffset="251" transform="rotate(-90,100,100)" />
							</svg>
						</div>
						<div class="smallShow">
							<div class="smallStat" id="eastEntranceStat">
								<div class="statWrapper">
									<img class="statImage" src="icons/east_entrance_outline.svg">
									<span><b>Entrance:</b><br> {{entranceDisplay}}</span>
								</div>
							</div>
						</div>
						<div id="yesterdayWrapper">
							<div id="title" class="yesterdayTitle">Yesterday: {{yesterdaysDate}}</div>
							<!-- <br><div class="yesterdayTitleStatus">{{yesterdayTitleStatus}}</div> -->
							<table id="yesterdaysEntrances" class="tableStats">
								<tr>
								<th class="tableTH">Entrance</th>
								<th class="right tableTH">Vehicles</th>
								<th class="right tableTH">People</th>
								<th class="right smallHide tableTH">Date Updated</th>
								</tr>
								<tr>
								<td class="tableTD">East Entrance</td>
								<td class="right tableTD">{{entranceCount}}</td>
								<td class="right tableTD">{{entrancePeople}}</td>
								<td class="right smallHide tableTD">{{entranceDateUpdated}}</td>
								</tr>
								<tr>
							</table>
						</div>
						<img id="footer" src="icons/Bryce-footer.jpg">
					</div>

					<!-- END MAIN PAGE -->
				<!-- </div> -->
				</v-main>
			</v-app>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="app.js"></script>
    </body>
</html>
